@use '../../styles/variables.scss';

%container {
	width: 100%;
	min-height: fit-content;
	height: fit-content;
	max-height: 100%;
	padding: 2%;
	border-radius: variables.$radius;
	background-color: variables.$foreground-color;
}

%text {
	width: 100%;
	text-align: center;
	vertical-align: middle;
	color: variables.$placeholder-font-color;
}

.message__title {
	@extend %text;
	font-size: medium;
	margin-right: 2%;
}

.message__container--info {
	@extend %container;

	.message__title {
		color: #6ca7fe;
	}
}

.message__container--warn {
	@extend %container;

	.message__title {
		color: #ffc655;
	}
}

.message__container--error {
	@extend %container;

	.message__title {
		color: #ff5748;
	}
}

.message__content {
	@extend %text;
	flex: 1;
}