@use '../../styles/variables.scss';

%container {
	width: 100%;
	min-height: fit-content;
	height: fit-content;
	max-height: 100%;
	padding: 2%;
	border-radius: variables.$radius;
}

%text {
	width: 100%;
	text-align: center;
	vertical-align: middle;
	color: variables.$primary-color-dark;
}

.message__container--info {
	@extend %container;

	background-color: #80b3ffb3;
}

.message__container--warn {
	@extend %container;

	background-color: #ffd480b3;
}

.message__container--error {
	@extend %container;

	background-color: #ff9980b3;
}

.message__title {
	@extend %text;
	border-top-left-radius: variables.$radius;
	border-top-right-radius: variables.$radius;
	font-size: medium;
}

.message__content {
	@extend %text;
	flex: 1;
}