@use '../../styles/variables.scss';

.menu {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	width: 100vw;
	padding: 1%;
	height: 7%;
	min-height: 40px;

	background-color: variables.$foreground-color;
	border-bottom: 0.8px solid variables.$primary-color-light--30op;

	overflow-y: hidden;
}

.menu__title {
	height: fit-content;
	justify-self: flex-start;

	text-decoration: none;
}

.menu__title:hover {
	h2 { color: variables.$primary-color-light; }
}

.menu__buttons {
	width: fit-content;
}