@use '../../styles/variables.scss';

.menu {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	width: 100vw;
	height: 8%;
	padding: 1%;

	background-color: variables.$foreground-color;
	border-bottom: 0.8px solid variables.$primary-color-light--30op;

}

.menu__title {
	height: fit-content;
	justify-self: flex-start;
}

.menu__buttons {
	width: fit-content;
}