@use '../../styles/variables.scss';

.menu {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	width: 90vw;
	padding: 1%;
	height: 50px;
	min-height: 50px;
	border-radius: variables.$radius;

	background-color: variables.$foreground-color;
	border: none;

	overflow-y: hidden;
}

.menu__title {
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
}

.menu__title:hover {
	h2 { color: variables.$primary-color-light; }
}

.menu__buttons {
	width: fit-content;
}