@use '../../../../styles/variables.scss';

.content__inner-content {
	width: 100%;

	h2,
	h3,
	h4 {
		width: 100%;
		text-align: left;
		margin-top: 10px;
	}

	p,
	i,
	a,
	ul,
	ol,
	li {
		font-weight: 500;
		font-size: 1.1rem;
		margin-bottom: 10px;
		width: 100%;
	}

	ol {
		list-style: inside decimal;
	}

	ul {
		list-style: inside;
	}

	.image {
		margin-bottom: 10px;
	}

	.content__section {
		width: 100%;
		align-items: flex-start;
	}
}