@use '../../styles/variables.scss';

.button {
	height: 40px;
	min-height: 40px;
	width: 250px;
	margin: 5px;
	font-weight: bold;
	font-size: small;
	border-radius: 10px;
	cursor: pointer;
}

%button-hover {
	outline-offset: none;
	transition: 300ms;
	color: variables.$primary-font-color;
}

.button:disabled {
	cursor: not-allowed;
	background-color: variables.$disabled-background-color;
	color: variables.$placeholder-font-color;
	border: none;
}

.button:disabled:hover {
	cursor: not-allowed;
	background-color: variables.$disabled-background-color;
	border: none;
	box-shadow: none;
	outline: none;
	outline-offset: none;
	transition: none;
}

.button--small {
	height: 35px;
	min-height: 35px;
	width: 100px;
}

.button--filled {
	color: variables.$primary-font-color;
	background-color: variables.$primary-color-light;
	border: variables.$primary-color-light 1px solid;
}

.button--filled:hover {
	@extend %button-hover;

	background-color: variables.$primary-color-light--30op;
	border: variables.$primary-color-light 1px solid;
	box-shadow: variables.$box-shadow--light--small;
}

.button--outlined {
	color: variables.$primary-color-light;
	background-color: initial;
	border: variables.$primary-color-light 1px solid;
}

.button--outlined:hover {
	@extend %button-hover;
	background-color: variables.$primary-color-light--15op;
	border: variables.$primary-color-light 1px solid;
	box-shadow: variables.$box-shadow--light--small;
}

.button--link {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;

	text-decoration: none;
}