@use '../../styles/variables.scss';

.button {
	height: 40px;
	min-height: 40px;
	width: 250px;
	margin: 5px;
	font-weight: bold;
	font-size: small;
	border-radius: 10px;
	cursor: pointer;
}

.button:hover {
	color: variables.$primary-color-light;
	background-color: variables.$primary-color-light--30op;
	border: variables.$primary-color-light 1px solid;
	box-shadow: variables.$box-shadow--light--small;
	outline: 1px solid variables.$primary-color-light;
	outline-offset: none;
	transition: 150ms;
}

.button--small {
	height: 35px;
	min-height: 35px;
	width: 100px;
}

.button--filled {
	color: variables.$primary-color-dark;
	background-color: variables.$primary-color-light;
	border: variables.$primary-color-light 1px solid;
}

.button--outlined {
	color: variables.$primary-color-light;
	background-color: initial;
	border: variables.$primary-color-light 1px solid;
}

.button--link {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;

	text-decoration: none;
}