@use '../../../styles/variables.scss';

.contents__page-title {
	width: 90vw;
	text-align: center;
	// border-bottom: 2px solid variables.$primary-color-light--30op;
	margin-bottom: 1%;
}

.contents__feed {
	padding: 1%;
	width: 90vw;
	flex: 1;
	max-height: 90vh;
	overflow-x: scroll;
}

.feed__list-item {
	height: 50px;
	width: 100%;
	border-radius: variables.$radius;
	padding: 5px;

	justify-content: space-between;

	text-decoration: none;
	border-bottom: 1px solid variables.$primary-color-light--30op;
	transition: 300ms;

	h2,
	p {
		color: rgb(204, 204, 204);
	}
}

.feed__list-item:hover {
	background-color: variables.$primary-color-dark--15op;
	color: variables.$primary-font-color;

	transform: scale(102%);

	h2,
	p {
		color: variables.$primary-font-color;
	}
}