@use './variables.scss';

* {
	padding: 0%;
	margin: 0%;

	box-sizing: border-box;
	font-weight: 300;
}

.flex {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.flex--row {
	flex-direction: row;
}

.flex--sp-between {
	justify-content: space-between;
}

.flex--center {
	justify-content: center;
}

.flex--wrap {
	flex-wrap: wrap;
}

%text {
	color: variables.$primary-font-color;
	text-align: unset;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@extend %text;
	font-weight: 600
}

p,
li {
	@extend %text;
	font-weight: 300
}

body {
	background-color: variables.$page-background-color;
	box-sizing: border-box;
	flex-wrap: wrap;

	width: 100vw;
	height: 100vh;
	min-width: 100vw;
	min-height: 100vh;

	overflow-x: hidden;
}

.text--highlight {
	color: variables.$primary-color-light;
}

.hidden {
	display: none;
}

.link {
	@extend %text;
	cursor: pointer;
	font-weight: bold;
	transition: 300ms;
}

.link:hover {
	color: variables.$primary-color-light;
}

.icon {
	@extend %text;
	cursor: pointer;
	width: 20px;
	height: 20px;
	transition: 300ms;
}

.icon:hover {
	color: variables.$primary-color-light;
}