/* global */

:root {
	--page-background-color: #3E3B39;
	--header-background-color: #181818;
	--component-background-color: #2B2828;
	--highlight-color: #fa7d4bff; /* coral */
	--primary-font-color: #ffe4d6ff; /* champagne-pink */
	--foreground-color: #fcc19aff; /* peach */

	--box-shadow: 0px 0px 5px 3px var(--highlight-color);
	--box-shadow-small: 0px 0px 3px 1px var(--highlight-color);

	--radius: 10px;
}

* {
	padding: 0%;
	margin: 0%;

	box-sizing: border-box;

	font-family: Georgia, Times, 'Times New Roman', serif;

	/* color: var(--primary-font-color); */
}

.flex {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;

	flex-wrap: wrap;
}

.flex-row {
	flex-direction: row;
}

h1, h2, h3, h4, h5, h6, p, li {
	color: var(--primary-font-color);
}

body {
	background-color: var(--page-background-color);
	
	width: 100%;
	height: 100%;
	min-width: 100%;
	min-height: 100%;
}

/* Button */
.button,
button {
	height: 40px;
	width: 250px;

	margin-top: 5px;

	font-weight: bold;

	border-radius: 10px;

	cursor: pointer;
}

.button:hover,
button:hover {
	outline: 1px solid var(--highlight-color);
	box-shadow: var(--box-shadow-small);
	outline-offset: none;
}

.filled {
	color: var(--primary-font-color);
	background-color: var(--highlight-color);
	border: var(--highlight-color) 1px solid;
}

.outlined {
	color: var(--highlight-color);
	background-color: initial;
	border: var(--highlight-color) 1px solid;
}

.icon {
	height: 40px;
	width:  40px;
	border-radius: 50%;

	background-color: var(--foreground-color);
	color: var(--highlight-color);
	border: solid 1px var(--highlight-color);

	text-align: center;
	vertical-align: middle;

	text-decoration: none;
}

.highlight-text {
	color: var(--highlight-color);
}