@use '../../styles/variables.scss';

// .listBoard {
// 	width: 24%;
// 	height: 95vh;
// 	min-width: 240px;
// 	background-color: variables.$foreground-color;
// 	border-radius: variables.$radius;
// 	box-shadow: variables.$box-shadow--light--small--offset;

// 	overflow-x: scroll;

// 	header {
// 		color: variables.$primary-font-color;
// 		padding: 1% 2%;
// 		margin-bottom: 1%;
// 		box-shadow: variables.$box-shadow--light--small--offset;
// 	}

// 	header .header__title {
// 		text-align: left;
// 		font-size: 1.3rem;
// 	}

// 	header .header__icon {
// 		cursor: pointer;
// 		color: variables.$placeholder-font-color;
// 	}

// 	header .header__icon:hover {
// 		color: variables.$primary-color-light;
// 	}

// 	.listBoard__content {
// 		flex: 1;
// 		width: 100%;
// 		padding: 0 1.5%;
// 	}
// }

.card__container {
	align-items: flex-start;
	justify-content: space-around;

	background-color: variables.$foreground-color;

	width: 100%;
	border: 1px solid variables.$primary-color-light--30op;
	padding: 1% 2%;
	margin-bottom: 1%;
	border-radius: variables.$radius;

	.card__title {
		text-align: left;
		color: variables.$primary-font-color;
		text-decoration: none;

		width: 100%;
		font-size: 1rem;
		margin-bottom: 1%;
		cursor: pointer;
	}

	p {
		font-size: smaller;
		color: variables.$placeholder-font-color;
		margin-bottom: 1%;
	}

	.card__title:hover h3 {
		color: variables.$primary-color-light;
	}
}

.card__container:hover {
	box-shadow: variables.$box-shadow--light--small--offset;
	background-color: variables.$primary-color-dark--15op;
}

.tags__container {
	width: 100%;
	flex-wrap: wrap;
}

.tag__container {
	margin: 1%;
	padding: 1% 2%;

	width: 40%;
	height: 100%;
	min-width: fit-content;
	height: fit-content;

	border-radius: variables.$radius;
	// border: solid 1px variables.$primary-color-light;
	background-color: variables.$foreground-color;

	.tag__icon {
		color: variables.$primary-color-light;
		margin-right: 2%;
		font-size: small;
	}

	.tag__content {
		color: variables.$primary-color-light;
		text-align: left;
		vertical-align: middle;
		font-size: small;
	}
}