@use '../../styles/variables.scss';

.card__container {
	align-items: flex-start;
	justify-content: space-around;

	background-color: variables.$foreground-color;

	width: 100%;
	border: 1px solid variables.$primary-color-light--30op;
	padding: 1% 2%;
	margin-bottom: 1%;
	border-radius: variables.$radius;

	.card__title {
		justify-content: flex-start;

		text-align: left;
		color: variables.$primary-font-color;
		text-decoration: none;

		width: 100%;
		font-size: 1rem;
		margin-bottom: 1%;
		cursor: pointer;

		.card__title__icon {
			margin-right: 10px;
		}
	}

	p {
		font-size: smaller;
		color: variables.$placeholder-font-color;
		margin-bottom: 1%;
	}

	.card__title:hover {
		h3,
		.card__title__icon {
			color: variables.$primary-color-light;
		}
	}
}

.card__container:hover {
	box-shadow: variables.$box-shadow--light--small--offset;
	background-color: variables.$primary-color-dark--15op;
}

.tags__container {
	width: 100%;
	flex-wrap: wrap;
}

.tag__container {
	justify-content: flex-start;

	margin: 1%;
	padding: 1% 2%;

	width: 40%;
	height: 100%;
	min-width: fit-content;
	height: fit-content;

	border-radius: variables.$radius;

	.tag__icon {
		color: variables.$placeholder-font-color;
		margin-right: 8px;
		font-size: small;
	}

	.tag__content {
		color: variables.$placeholder-font-color;
		text-align: left;
		vertical-align: middle;
		font-size: small;
	}
}