@use '../styles/variables.scss';
.home__main {
	height: 100%;
	width: 90vw;
}

.home__content {
	align-items: flex-start;

	.home__content__title {
		font-size: 3.0rem;
		margin-bottom: 2%;
	}

	.home__content__subtitle {
		margin-bottom: 2%;
		width: 80%;
		color: variables.$primary-color-light;
		font-size: larger;
		font-weight: 600;
	}

	.icon {
		width: 30px;
		height: 30px;
	}

	.button {
		margin: 0;
	}
}