@use '../../../styles/variables.scss';

.categories__main {
	flex: 1;
	height: 100%;

	background-color: variables.$foreground-color;

	.categories__page-title {
		width: 95%;
		text-align: center;
		border-bottom: 2px solid variables.$primary-color-light--30op;
		margin-bottom: 1%;
	}

	.categories__feed {
		// background-color: variables.$foreground-color;
		padding: 1%;
		width: 95%;
		flex: 1;
		max-height: 90vh;
		overflow-x: scroll;
	}
}