@use '../../styles/variables.scss';

aside {
	width: 15vw;
	height: 100vh;
	// box-shadow: variables.$box-shadow--light--small;
	border-right: 2px solid variables.$primary-color-light--30op;
	z-index: 10;
	align-items: flex-start;
	justify-content: flex-start
};

.sidebar__header {
	height: fit-content;
	min-height: 8%;
	padding: 5px 2px;
	// border-bottom: 1px solid variables.$primary-color-light--30op;
	text-align: center;
	background-color: variables.$primary-color-light;

	.header__title {
		font-size: 1.4rem;
		margin-bottom: 1%;
		text-align: center;
	}

	.header__subtitle {
		text-align: center;
	}
}

.sidebar__nav {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	
	padding: 5% 10%;
	text-align: left;
	height: 90%;

	.nav__list {
		list-style: "> " inside;
		text-decoration: none;
	}
}