@use '../../../styles/variables.scss';

.about__container {
	// height: 80vh;
	height: 100%;
	width: 100%;
	max-width: 90vw;
	justify-content: flex-start;
}
.about__section {
	width: 100%;
	margin: 10px 0px;
	background-color: variables.$foreground-color;
	border-radius: variables.$radius;

	align-items: flex-start;

	padding: 2%;

	h2 {
		margin-bottom: 1%;
	}

	.avatar {
		margin-right: 10px;
		border-radius: 50%;
	}
}